.main-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}